body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "sidebar footer";
    height: 100vh;
    margin: 0;
}

body.hide-sidebar{
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: 60px 1fr 60px; - como o navegador sabe o tamanhos das linhas, se estamos carregando um nova classe*/ 
    grid-template-areas: 
        "header"
        "content"
        "footer";
    height: 100vh;
    margin: 0;
}

header.header {
    grid-area: header; 
    display: flex;
    background-color: #1976d2;
    align-items: center;
    z-index: 10;
    box-shadow: 
        0 2px 4px -1px rgba(0, 0, 0, .2),
        0 4px 4px -1px rgba(0, 0, 0, .14),
        0 1px 10px 0px rgba(0, 0, 0, .12);
}

header.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex-basis: 250px;
    height: 64px;
}

header.header .menu-toggle{
    display: flex;
    color: white;
    cursor: pointer;
}

header.header .spacer {
    flex-grow: 1;
}

header.header .dropdown{
    height: 64px;
}

header.header .dropdown:hover{
    background-color: rgba(0,0,0, .1);
}

header.header .dropdown-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1rem;
    color: white;
    cursor: pointer;
}

header.header .dropdown-content{
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: #f9f9f9;
    padding: 15px 0px;
    z-index:     100;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0, .2);
}

header.header .dropdown:hover .dropdown-content{
    display: block;
}

header.header .dropdown-content ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}

header.header .dropdown-content a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222;
    padding: 7px;
}

header.header .dropdown-content a:hover{
    background-color: rgba(0,0,0, .05);
}

aside.sidebar {
    grid-area: sidebar;
}

.hide-sidebar aside.sidebar {
    display: none;
}

aside.hide-sidebar{
    display: none;
}

main.content {
    grid-area: content;
}

footer.footer {
    grid-area: footer;
}

